			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >
					
				<div data-role="listview" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<ul data-role="listview" data-icon="false">
                        <li><a href="#popupDialog7" data-rel="popup" data-position-to="window" data-inline="true" data-transition="pop">About</a></li>
					</ul>
				</div>

				<hr class="inset">

				<div data-role="listview" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<ul data-role="listview" data-icon="false">
						<li><a href="/users/logout">Log Out</a></li>
					</ul>
				</div>
			</div>
			<!-- /panel left -->
